<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaehong.soo.animalvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/pandalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".IntroActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".YouTubePlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".YouTubeListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".FavoriteListActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            />

        <activity
            android:name="com.fsn.cauly.blackdragoncore.LandingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>